extends ./layout.jade
block contenido
    h1 Hola mundo
    a(href="/login") 
        button(type="button" class="btn btn-primary") login
    a(href="/reg") 
        button(type="button" class="btn btn-primary") register
    a(href="/app/imagenes/new") 
        button(type="button" class="btn btn-primary") new