{% extends "layout-login.html" %}

{% block titlefav %}
    Registro
{% endblock %}

{% block title %}
    Registro
{% endblock %}

{% block content %}
    <div class="row p-4">
        <div class="col-md-4">
            <h5 class="float-right">Registrarse con:</h5>
        </div>
        <div class="col-md-4 text-center">
            <a class="text-dark" href="javascript:logIn()">
                <h5><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</h5>
            </a>
        </div>
    </div>
    {% block error %}
        {% if alert %}
        <div class="col-md-6 mx-auto alert {{stl}} alert-dismissible fade show" role="alert">
            {{alert}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
    {% endblock %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form id="register" method="POST" action="/register">
                <div class="form-group">
                    <label for="name"><i class="fa fa-user-circle" aria-hidden="true"></i> Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Pepito" required>
                </div>
                <div class="form-group">
                    <label for="user"><i class="fa fa-user" aria-hidden="true"></i> Usuario</label>
                    <input type="text" class="form-control" id="user" name="user" aria-describedby="user" placeholder="Usuario" required>
                </div>
                <div class="form-group">
                    <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i> Correo</label>
                    <input type="text" class="form-control" id="email" name="email" aria-describedby="email" placeholder="correo@ejemplo.com" required>
                </div>
                <div class="form-group">
                    <label for="pass"><i class="fa fa-lock" aria-hidden="true"></i> Contraseña</label>
                    <input type="password" class="form-control" id="pass" name="pass" placeholder="Contraseña" required>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                    <i class="fa fa-user-plus" aria-hidden="true"></i> Resgistrarse
                </button>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>
    <div class="row">
        <span class="col-md-3"></span>
        <a class="col-md-6" href="{{ url_for('login')}}">
            <i class="fa fa-sign-in" aria-hidden="true"></i> Tengo una cuenta</a>
        <span class="col-md-3"></span>
    </div>
    <br>
    <br>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId            : '434576577456389',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v4.0'
            });
        };

        var person = { userID: "", name: "", accessToken: "", picture: "", email: ""};

        function logIn()
        {
            FB.login(function (response)
            {
                if(response.status == "connected")
                {
                    person.userID = response.authResponse.userID;
                    person.accessToken = response.authResponse.accessToken;
                    FB.api('/me?fields=id,name,email,picture.type(large)', function(userData){
                        person.name = userData.name;
                        person.email = userData.email;
                        person.picture = userData.picture.data.url;
                        
                        $.ajax({
                            url: '/facebookRegister',
                            data: person,
                            type: 'POST',
                            success: function(response) {
                                if (response == "index")
                                    window.location.assign("/");
                                else if (response == "username")
                                    window.location.assign("/usernameFacebook");
                            }
                        });

                    });
                }
            }, {scope: 'public_profile, email'})
        }
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
{% endblock %}